body {padding: 0; margin: 0;  background-color: #8888ee; color: #000000} 

p {
    display: inline;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
}


.canvas{
	margin-left: 5px;
	margin-top: 5px;
}

.pen_button_off{
	background-color: #eeeeee;
}

.pen_button_on{
	background-color: #666666;
}